.wrapper {
    position: fixed;
    top: 90vh;
    left: 35.15vw;
    z-index: 100;

    .container {
        display: flex;
        flex-direction: row;
        background-color: black;
        border-radius: 25px;
        overflow: hidden;

        .link {
            text-decoration: none;
            cursor: pointer;

            .menu_item {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.25em;
                font-weight: 500;
                color: white;
                padding: 0.5em 0.4em;
                margin: 0.15em 0;
            }

            .menu_item:focus {
                border-radius: 20px;
                background: linear-gradient(45deg, #6349FF 15%, #BC6CCE 50%, #B1A4FF 100%);
                color: white;
                padding: 0.5em 0.4em;
                margin: 0.15em 0;
            }

            .menu_item:hover {
                color: #D1D1D1;
                transition-duration: 0.15s;
            }

            .home {
                margin-left: 0.15em;
            }

            .contacts {
                margin-right: 0.15em;
            }

            .home:focus {
                margin-left: 0.15em;
            }

            .contacts:focus {
                margin-right: 0.15em;
            }

        }

        transition-duration: 0.20s;
    }

    .container:hover {
        transform: scale(1.02);
        transition-duration: 0.15s;
        transition-timing-function: linear;
    }
}