.containerBtnMoreCase{
    //position
    .textBtnMoreCase{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;//edit response
        font-weight: 600;
        background-color: #38F9D7;//gradient
        border-radius: 25px;
        border: none;
        padding: 10px;//edit response   
    }
}

